*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.card{
    padding: 20px;
    background: lemonchiffon;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h2, h3{
    margin: 10px 0;
}

p{
    font-size: 18px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    
}

.social-links a{
    margin: 0px 10px;
    text-decoration: none;
    color: lightcoral;
}

.social-links a:hover{
    text-decoration: underline;
}